<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="/css/styles.css">
    <title>Codezee</title>
</head>

<body>
    <div id="options">
        <div style="cursor: pointer; user-select: none;">Codezee Online Code Editor</div>

        <div id="itemContainer">
            <div class="item">
                <label for="langs">Language: </label>
                <select name="langs" id="langs">
                    <option value="c_cpp">C (gcc 11.1.0)</option>
                    <option value="c_cpp">C++ 17 (gcc 11.1.0)</option>
                    <option value="python">Python 3</option>
                    <option value="java">Java</option>
                </select>
            </div>
    
            <div class="item">
                <label for="themes">Theme: </label>
                <select name="themes" id="themes">
                    <option value="monokai">Monokai</option>
                    <option value="twilight">Twilight</option>
                    <option value="xcode">Xcode</option>
                    <option value="tomorrow">Tomorrow</option>
                </select>
            </div>
        </div>

        <div style="cursor: pointer;">About</div>

    </div>
    <div id="container">
        <div id="editor"></div>
        <div id="stdinout">
            <div style="margin-bottom: 10px;">
                <div class="label">Input</div>
                <textarea name="stdin" id="input" cols="45" wrap="off"></textarea>
            </div>
            <div>
                <div class="label">Output</div>
                <textarea name="stdout" id="output" cols="45" wrap="off"></textarea>
            </div>
            <div id="runButton">
                Run Code
            </div>
        </div>
    </div>
    <footer>Made with ❤️ by Darshan Tailor.</footer>
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.4.13/ace.js"></script>
<script src="/js/index.js"></script>

</html>